/* Write your global styles here, in PostCSS syntax */
@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	max-width: 800px;
	padding: 5px;
	margin: 1em auto;
}
